*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Oswald", sans-serif; */
    font-family: "Ubuntu", sans-serif;
}
.main-container{
    width: 100%;
    height: auto;
    background-color: #00240E;
    color: white;
}
.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    align-items: center;
    justify-content: space-between;
    background-color: #00220D;
}
.n-left{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.n-right{
    width: 50%;
    height: auto;
    display: flex;
    padding-inline: 30px;
    justify-content: space-around;
}
.n-right a{
    color: white;
    font-size: 30px;
    display: flex ;
    text-decoration: none;
}
.n-right a i{
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: center; */
        font-size: 30px;
}
.n-right i{
    display: none;
}
.n-right span{
    color: orange;
}
/*  end navbar */
.heading{
    width: 100%;
    height: auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}
.heading h6{
    font-size: 15px;
    color:orange;
}
.heading h2{
    font-size: 100px;
    text-align: center;
    /* line-height: 100px; */
}
.heading h4{
    font-size: 45px;
}
.heading button{
    width: 300px;
    height: 60px;
    margin-block: 30px;
    font-size: 25px;
    border-radius: 40px;
    border: none;
    color: white;
    background-color: rgb(69, 193, 69);
}
.fixed-icon{
   
    position: fixed;
    top: 250px;
    right: 0px;
    z-index: 2;
}

.fixed-icon div{
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fixed-icon i{
    color: white;
    font-size: 30px;
   
}
#f1{
    background-color: rgb(56, 105, 228);
    border-radius: 7px 0px 0px 0px ;
}
#f2{
    background-color: rgb(12, 71, 207);

}
#f3{
    background-color: rgb(179, 7, 179);
}
#f4{
    background-color: rgb(3, 185, 3);

}
#f5{
    border-radius: 0px 0px 0px 7px;
    background-color: blue;
}
/* heading section end */
.text{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-inline: 30px;
    align-items: center;
}
.text h5{
    color: green;
    font-size: 15px;
}
.text h3{
    color: orange;
    font-size: 50px;
}
.text p{
    text-align: center;
    font-size: 20px;
}
.cards{
    width: 100%;
    height: auto;
   
}
.card-1{
    width: 100%;
    height: auto;
    display: flex;
   
    
    justify-content: space-evenly;
}   
.box1{
    width: 20%;
    height: 450px;
    background-color:#003D16;
    border-radius: 30px;
    margin: 30px;
   
  
}
.box1 img{
    width: 80%;
    height: 60%;
    border-radius: 30px;
    border: 1px solid yellow;
    margin: 10%;
}
.card-1 h3{
    font-size: 20px;
    text-align: center;
}
.card-1 p{
    font-size: 15px;
}
.card-2{
    width: 100%;
    height: auto;
    display: flex;
    
    justify-content: space-evenly;
   
}
.box2{
    width: 40%;
    height: 400px;
    background-color:#003D16;
    border-radius: 30px;
    margin: 30px;
    
}
.box2 img{
    width: 80%;
    height: 70%;
    border-radius: 30px;
    margin-inline: 10%;
    margin-block: 5%;
    border: 2px solid rgb(10, 192, 10);
}
.box2 h3{
    font-size: 20px;
    text-align: center;
}
.box2 p{
    font-size: 15px;
}

   

.card-3{
    width: 100%;
    height: auto;
    display: flex;
   
    justify-content: space-evenly;
}   
.box3{
    width: 20%;
    height: 450px;
    background-color:#003D16;
    border-radius: 30px;
    margin: 30px;
   
   
  
}
.box3 img{
    width: 80%;
    height: 60%;
    border-radius: 30px;
    border: 1px solid red;
    margin: 10%;
}
.box3 h3{
    font-size: 20px;
    text-align: center;
}
.box3 p{
    font-size: 15px;
}
.text button{
    width: 300px;
    height: 60px;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: 800;
    margin-block: 40px;
    background-color: rgb(9, 182, 9);
}
/*  end main container */

.second-page{
    width: 100%;
    height: auto;
    background-color:#0C2F0E ;
    color: white;
    padding-block: 60px;
}
.second-page h6{
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
    color: orange;
}
.second-page h1{
    text-align: center;
    font-size: 50px;
    color: orange;
}
.second-card{
    
    width: 100%;
    height: auto;
    display: flex;
    padding: 50px;
   justify-content: center;
   

}
.card2{
    width: 30%;
    height: 550px;
    padding: 30px;
    border: 1px solid green;
    
    
    
}
#s1{
    border-radius: 30px 0px 0px 30px;
}
#s2{
    border-radius: 0px 30px 30px 0px;
}
.card2 img{
    width: 100px;
    height: 100px;
}
.card2 h3{
    font-size: 30px;
    color: green;
    padding-block: 20px;
}
.card2 p{
    font-size: 20px;
    line-height: 30px;

}

.third-page{
    width: 100%;
    height: auto;
    background-color: #002910;
    color: white;
    padding-block: 30px;

}
.third-page h1{
   color: orange;
    font-size: 50px;
    text-align: center;
}
.img-sec{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding-block: 60px;

}
 .box i{
    width: 90px;
    height: 90px;
    border-radius: 20px;
    font-size: 40px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -30px;
    top: -20px;
 }
 .box{
width: 18%;
height: 200px;

border-radius: 40px;
display: flex;
flex-direction: column;
align-items: center;

}
.img-sec :first-child{
    background-color: rgba(3, 83, 3, 0.367);
}
#i1{
    background-color: green;
}


.img-sec .box:nth-child(2){
    background-color: rgba(255, 0, 0, 0.386);
}
#i2{
    background-color: red;
}
.img-sec .box:nth-child(3){
    background-color: rgba(255, 255, 0, 0.376);
}
#i3{
    background-color: yellow;
}

.img-sec .box:last-child{
    background-color: rgba(128, 0, 128, 0.404);
}
#i4{
    background-color: purple;
}







.fourth-page{
    width: 100%;
    height: auto;
    background-color: #002910;
    color: white;
    display: flex;
    flex-direction: column;
    padding-block: 30px;
}
.fourth-page h1{
    text-align: center;
    color: orange;
    font-size: 50px;
}
.fcard{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
   
}
.fbox{
    width: 25%;
    height: 400px;
    margin: 50px;
    padding: 30px;
    border: 2px solid;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.fbox-img{
    display: flex;

    
}
.fbox-img img{
    width: 70px;
    height: 70px;
    border-radius: 40px;
}
.fbox-img span{
    width: 70%;
    padding-inline: 20px;
   justify-content: center;
    display: flex;
    flex-direction: column;
}
.fbox-img em{
    text-align: end;
    font-size: 40px;
}
.fbox-img h6{
    font-size: 15px;
}

.fbox:first-child{
background-color: rgba(255, 255, 0, 0.1);
border-color: rgba(255, 255, 0, 0.678);
 


}
#img-1{
    border: 4px solid yellow;
}
#img-2{
    border: 4px solid red;
}
#img-3{
    border: 4px solid green;
}
.fbox:nth-child(2){
background-color: rgba(255, 0, 0, 0.218);
border-color: rgba(255, 0, 0, 0.747);
}
.fbox:last-child{
   background-color: rgba(0, 128, 0, 0.162);
   border-color: rgba(0, 128, 0, 0.634);



}





.last-page{
    width: 100%;
    height: auto;
    background-color: #0B2C0E;
    color: white;
}
.last-page h1{
    text-align: center;
    color: orange;
    padding: 30px;
   
}
.lastbox{
    width: 100%;
    height: 500px;
    display: flex;
    padding: 70px;
}
.left{
    width: 50%;
    height: auto;
    
}
.right{
width: 50%;
height: auto;
}
ul li{
   list-style: none;
   line-height: 30px;
}
ul li i{
    color: green;
    padding-right: 15px;
}
.foter-part{
    width: 100%;
    height: auto;
    padding-block: 40px;
    background-color: #00220D;
}
.foter-part h2{
    color: orange;
    font-size: 40px;
    text-align: center;
}
.f-top{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-top img{
    width: 200px;
    padding-inline: 10px;
}
.f-bottom{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 128, 0, 0.394);

}
.f-bottom img{
    width: 200px;
    padding-inline: 10px;
}
.foter-part h4{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}



/* responsive 768 */

@media (max-width:768px){
    .main-container{
        width: 100%;
        height: auto;
    }
    .navbar{
        width: 100%;
    }
    .n-left{
        width: 70%;
    }
    .n-right{
        width: 20%;
        height: 100%;
    }
    

    #menu{
        /* width: 30px; */
        /* height: 30px; */
        display: flex;
        font-size: 40px;
        /* color: white; */
    }
    .n-right a{
        display: none;
    }
    #responsive{
        
    }
    .heading{
        padding-top:250px ;
    }
    .heading h2{
        font-size: 50px;
        padding-block: 20px;
    }
    .heading h4{
        font-size: 30px;
    }
    .fixed-icon{
        display: none;
    }
    .text{
        width: 100%;
        height: auto;
    }
    .text br{
        display: none;
    }
    .text h3{
        font-size: 30px;
        padding-block: 20px;
    }
    .card-1{
        width: 100%;
        height: auto;
        align-items: center;
        flex-direction: column;
    }
    .box1{
        width: 90%;
        height: auto;
        padding-block: 20px;
    }
    .card-2{
        width: 100%;
        height: auto;
        align-items: center;
        flex-direction: column;
    }
    .box2{
        width: 90%;
        height: auto;
        padding-block: 20px;
    }
    .card-3{
        width: 100%;
        height: auto;
        align-items: center;
        flex-direction: column;
    }
    .box3{
        width: 90%;
        height: auto;
        padding-block: 20px;
    }
    .second-card{
        flex-direction: column;
        align-items: center;
    }
    .card2{
        width: 90%;
        height: auto;
    }
    #s1{
        border-radius: 30px 30px 0px 0px;
    }
    #s2{
        border-radius: 0px 0px 30px 30px;
    }
    .third-page{
        width: 100%;
        height: auto;
       
    }
    .img-sec{
        padding: 0;
        flex-direction: column;
    }
    .box{
        width: 60%;
        margin-block: 30px;
        align-items: start;
        padding-left: 60px;
    }
    .fourth-page{
        width: 100%;
        height: auto;
    }
    .fcard{
        flex-direction: column;
       
    }
    .fbox{
        width: 80%;
        height: 250px;
    }
    .last-page{
        width: 100%;
        height: auto;
    }
    .lastbox{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: auto;
    }
    .right{
        width: 100%;
        height: auto;
    }
    .foter-part{
        width: 100%;
        height: auto;
    }
    .f-top{
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin-block: 30px;
    }
    .f-bottom{
        width: 100%;
        height: auto;
        padding-block: 40px;
        flex-wrap: wrap;
    }
}


/* responsive 480 */

@media (max-width:480px)
{
    .heading button{
        width: 70%;
        font-size: 20px;
    }
    .text p{
        font-size: 15px;
        text-align: start;
    }
    .cards p{
        padding-left: 20px;
    }
    .text button{
        width: 70%;
        font-size: 25px;
    }
    .second-card{
        width: 100%;
        padding-inline: 20px;
    }
    .card2{
        width: 100%;
       
    }
    .card2 p{
        font-size: 15px;
    }
    .box{
        width: 80%;
    }
    .fourth-page{
        width: 100%;
        height: auto;
        
    }
    .fbox{
        width: 90%;
        height: auto;
        margin: 20px;
    }
    .last-page br{
        display: none;
    }
    .last-page h1{
        font-size: 20px;
    }
    .last-page ul li{
        font-size: 12px;
        
    }
    .lastbox{
        padding: 20px;
    }
    .f-top{
        display: none;
    }
    .f-bottom{
        width: 100%;
        height: auto;
    }
    .f-bottom img{
        padding: 30px;
    }
}